
body {
    background-color: gray;
}

.App {
    //width: 800px;
    min-width: 320px; //common number 
    max-width: 1000px;
    border: solid 10px black;
    padding: 20px;
    margin: 25px auto;

    background-color: khaki;
}

@media screen and (min-width: 600px) {
    body {
        background-color: hotpink;

    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: rgb(128, 92, 110);
        
    }
}